html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Elements
-------------------------------------------------------------- */

html {
    margin-right: 0 !important;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background-color: var(--white);
    font-style: normal;
    color: var(--text);
}

img {
    max-width: 100%;
    height: auto;
    transform: scale(1);
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

.row {
    margin-right: -12px;
    margin-left: -12px;
    > * {
        padding-left: 12px;
        padding-right: 12px;
    }
}

ul,
li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.container {
    max-width: 1464px;
}

.container {
    width: 100%;
    margin: auto;
}

.container {
    padding-left: 12px;
    padding-right: 12px;
}
.container-full3,
.container-full2,
.container-full {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 12px;
}
.container-full3{
    padding: 0px 12px;
}

.slider-layout-right{
    width: calc(100vw - ((100vw - 1464px) / 2));
    margin-right: unset;
    max-width: 100%;
    margin-left: auto;
    .swiper{
        margin-right: -12px;
    }
}

svg path {
    @include transition3();
}

// form //
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-family: $font-main;
    border: 1px solid var(--line-2);
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    padding: 14px 20px;
    width: 100%;
    background: var(--white);
    color: var(--dark);
    font-weight: 400;
    @include transition3;
    &:hover,
    &:focus {
        border-color: var(--dark);
    }
}

textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="color"]::placeholder {
    color: var(--text-3);
    @include transition3;
}

textarea {
    height: 160px;
    resize: none;
}
/* Placeholder color */
::-webkit-input-placeholder {
    color: var(--text-3);
}

:-moz-placeholder {
    color: var(--text-3);
}

::-moz-placeholder {
    color: var(--text-3);
    opacity: 1;
}

button{
    @include transition3;
    background-color: var(--dark);
    color: var(--white);
    padding: 15px 32px;
    border-radius: 99px;
    @include flex(center, space-between);
    gap: 8px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-transform: capitalize;
    .icon {
        font-size: 22px;
    }
    &:hover{
        background-color: transparent;
        color: var(--dark);
    } 
}


/* Since FF19 lowers the opacity of the placeholder by default */

:-ms-input-placeholder {
    color: var(--secondary-2);
}

/* Typography
-------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-main;
    text-rendering: optimizeLegibility;
    color: var(--dark);
    font-weight: 500;
}

h1,.display-2xl{
    font-size: 72px;
    line-height: 90px;
    letter-spacing: -2%;
}

h2,.display-xl{
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
}
h3,.display-lg{
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2%;
}
h4,.display-md{
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
}
h5,.display-sm{
    font-size: 30px;
    line-height: 38px;
}
h6,.display-xs{
    font-size: 24px;
    line-height: 32px;
}
.text-xl{
    font-size: 20px;
    line-height: 30px;
}
.text-lg{
    font-size: 18px;
    line-height: 28px;
}
.text-md{
    font-size: 16px;
    line-height: 24px;
}
.text-sm{
    font-size: 14px;
    line-height: 20px;
}
.text-xs{
    font-size: 12px;
    line-height: 18px;
}
.text-xxs{
    font-size: 10px;
    line-height: 14px;
}
.text-caption{
    font-size: 12px;
    line-height: 15.72px;
}

.body-text{
    font-size: 16px;
    line-height: 25.6px;
}




.font-main{
    font-family: $font-main;
}
.font-2{
    font-family: $font-2;
}
.font-3{
    font-family: $font-3;
}
.font-4{
    font-family: $font-4;
}


b,
strong {
    font-weight: bolder;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




// color
.text-primary {
    color: var(--primary) !important;
}
.text-primary-2 {
    color: var(--primary-2) !important;
}
.text-primary-3 {
    color: var(--primary-3) !important;
}
.text-primary-4 {
    color: var(--primary-4) !important;
}
.text-secondary {
    color: var(--secondary) !important;
}
.text-secondary-2 {
    color: var(--secondary-2) !important;
}
.text-secondary-3 {
    color: var(--secondary-3) !important;
}
.text-secondary-4 {
    color: var(--secondary-4) !important;
}
.text-dark{
    color: var(--dark) !important;
}
.text-white{
    color: var(--white) !important;
}
.text-success{
    color: var(--success) !important;
}
.text-success-2{
    color: var(--success-2) !important;
}
.text-success-3{
    color: var(--success-3) !important;
}
.text-success-4{
    color: var(--success-4) !important;
}
.text-main{
    color: var(--text) !important;
}

.text-grey{
    color: #ACACAC !important;
}

// background color 
.bg-primary{
    background-color: var(--primary)!important;
}
.bg-primary-2{
    background-color: var(--primary-2)!important;
}
.bg-primary-3{
    background-color: var(--primary-3)!important;
}
.bg-primary-4{
    background-color: var(--primary-4)!important;
}
.bg-secondary{
    background-color: var(--secondary) !important;
}
.bg-secondary-2{
    background-color: var(--secondary-2) !important;
}
.bg-secondary-3{
    background-color: var(--secondary-2) !important;
}
.bg-secondary-4{
    background-color: var(--secondary-2) !important;
}
.bg-dark{
    background-color: var(--dark) !important;
}
.bg-dark-2{
    background-color: #313030 !important;
}
.bg-grey{
    background-color: #ACACAC !important;
} 
.bg-white{
    background-color: var(--white) !important;
}
.bg-surface{
    background-color: var(--surface)!important;
}
.bg-surface-2{
    background-color: var(--surface-2)!important;
}
.bg-line{
    background-color: var(--line) !important;
}
.bg-light-pink{
    background-color: #FF6969 !important;
}

.bg-light-green{
    background-color: #7C8C47 !important;
}
.bg-green{
    background-color: #3F7B25 !important;
}
.bg-light-purple{
    background-color: #8F4A58 !important;
}
.bg-light-purple-2{
    background-color: #A95354 !important;
}
.bg-light-orange{
    background-color: #D47B62 !important;
}
.bg-light-blue{
    background-color: #5192F4 !important;
}
.bg-brown{
    background-color: #7E6449 !important;
}




a {
    @include transition3;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: var(--dark);
    &:focus,
    &:hover {
        @include transition3;
        text-decoration: none;
        outline: 0;
    }
}

.link {
    @include transition3;
    &:hover {
        color: var(--primary) !important;
    }
}

// grid
.grid-2 {
    @include grid(2, 1fr);
}
.grid-3 {
    @include grid(3, 1fr);
}
.grid-4 {
    @include grid(4, 1fr);
}
.grid-6 {
    @include grid(6, 1fr);
}



.line{
    border: 1px solid var(--line);
}
.line-bt {
    border-bottom: 1px solid var(--line);
}
.line-top{
    border-top: 1px solid var(--line);
}
.line-black {
    border: 1px solid var(--dark);
}






.o-hidden {
    overflow: hidden;
}

// height


// padding
.px_15 {
    padding-left: 15px;
    padding-right: 15px;
}
.py-4{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.box-center {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

// padding
.pt_0 {
    padding-top: 0px !important;
}
.pb_0 {
    padding-bottom: 0px !important;
}



[data-grid="grid-1"] {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
}
[data-grid="grid-2"] {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}
[data-grid="grid-3"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
[data-grid="grid-4"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
[data-grid="grid-5"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
}
[data-grid="grid-6"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}
[data-grid="grid-7"] {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(7, 1fr);
}



.tf-row-flex {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 30px;
}

.tf-grid-layout {
    display: grid;
    column-gap: 15px;
    row-gap: 30px;
    &.tf-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    &.tf-col-3 {
        grid-template-columns: repeat(3,1fr);
    }
    &.tf-col-4 {
        grid-template-columns: repeat(4,1fr);
    }
    &.tf-col-5 {
        grid-template-columns: repeat(5,1fr);
    }
    &.tf-col-6 {
        grid-template-columns: repeat(6,1fr);
    }
    &.tf-col-7 {
        grid-template-columns: repeat(7,1fr);
    }
    .wg-pagination{
        grid-column: 1 / -1; 
        width: 100%;
    }
    .wd-load{
        grid-column: 1 / -1; 
    }
}
.tf-grid-layout-v2 {
    display: grid;
    gap: 15px;
}



.sticky-top {
    z-index: 50;
    top: 15px;
}

.wmax {
    width: max-content !important;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-auto {
    cursor: auto;
}






.text-highlight {
    -webkit-text-stroke: 1px #000;
    color: transparent !important;
    flex-direction: row-reverse;
}
.text-line-clamp-1{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.text-line-clamp-2{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.aspect-ratio-1 {
    aspect-ratio: 1/1;
}

.initial-child-container {
    flex: 0 0 auto;
    display: flex;
    min-width: auto;
    flex-direction: row;
    align-items: center;
}
.line-top-container {
    position: relative;
    &::before{
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        background-color: var(--line);
        height: 1px;
        width: 100%;
        max-width: 1320px;
        transform: translateX(-50%);
    }
    
}
.line-bottom-container {
    position: relative;
    &::after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        background-color: var(--line);
        height: 1px;
        width: 100%;
        max-width: 1320px;
        transform: translateX(-50%);
    }
    
}
// Scroll Top
#scroll-top{
    position: fixed;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 50px;
    border-radius: 4px;
    z-index: 1;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
    background-color: var(--dark);
    border: 0;
    bottom: 92px;
    right: 20px;
    padding: 0;
    @include flex(center,center);
    @include transition3;
    &.show{
        opacity: 1;
        visibility: visible;
    }
    &.type-1 {
        bottom: 140px;
    }
    &:hover{
        transform: translateY(-5px);
        background-color: var(--primary);
    }
}

/* Preload 
------------------------------------------- */

.preload-wrapper{
    .preload-container{
        display: flex;
    }
}
.preload-container {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999999;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
 
.spinner {
    width: 60px;
    height: 60px;
    border: 3px solid transparent;
    border-top: 3px solid var(--line);
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}
  
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}