

.form-search {
    position: relative;
    input {
        border-color: rgba(0, 0, 0, 0.2);
        &::placeholder{
            color: #989898;
        }
    }
    button {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
        background-color: transparent;
        border: 0;
        color: var(--dark);
        .icon{
            font-size: 20px;
        }
    }
    .btn-search{
        background-color: var(--dark);
        color: var(--white);
        padding: 7px 22px;
        right: 6px;
        .icon{
            font-size: 24px;
        }
        &:hover{
            background-color: var(--primary);
            color: var(--white);
        }
    }
}