// hover img

.hover-img {
    .img-style {
        overflow: hidden;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
            transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        }
    }
    &:hover {
        .img-style{
            > img {
                -webkit-transform: scale(1.06);
                transform: scale(1.06);
            }
        }
        
    }

    .img-style2 {
        overflow: hidden;
        border-radius: 10px;
        .img-hv {
            width: 100%;
            object-fit: cover;
            -webkit-transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
            transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
            transition: transform 500ms ease;
        }
    }
}





.hover-tooltip {
    position: relative;
    .tooltip {
        position: absolute;
        white-space: nowrap;
        padding: 0px 8.5px;
        height: 25px;
        border-radius: 2px;
        bottom: calc(100% + 5px);
        transform: translateY(8px);
        opacity: 0;
        visibility: hidden;
        color: var(--white); 
        max-width: 250px;
        width: max-content;
        background-color: var(--dark);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
        z-index: 5;
        font-size: 12px;
        line-height: 22px;
        &::before {
            content: "";
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            top: 20px;
            position: absolute;
            background: var(--dark);
            width: 8px;
            height: 8px;
            z-index: -1;
        }
    }
    &:hover {
        .tooltip {
            opacity: 1;
            visibility: visible;
            transform: none;
            transition-delay: 0.1s;
        }
    }
    &.tooltip-bot {
        .tooltip {
            top: calc(100% + 5px);
            bottom: unset;
            &::before {
                top: -2px;
            }
        }
    }
    
}
.hover-overlay {
   position: relative;
   &::before{
        position: absolute;
        z-index: 2;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        top: 0;
        left: 0;
        transition: 0.4s ease 0.1s;
        opacity: 0;
        visibility: hidden; 
   }
   &:hover::before{
        opacity: 1;
        visibility: visible;
   }
}
