//settings
$font-main: "Poppins", sans-serif;
$font-2: "Albert Sans", sans-serif;
$font-3: "Playfair Display", serif;
$font-4: "DM Sans", sans-serif;
$fontIcon: "icomoon";

:root{  
    // color
    --primary: #FF6F61;
    --primary-2: #FF9A90;
    --primary-3: #FFC5C0;
    --primary-4: #FFF1EF;
    --secondary: #4B4DED;
    --secondary-2: rgba(75, 77, 237, 0.75);
    --secondary-3: rgba(75, 77, 237, 0.5);
    --secondary-4: #EFEFFD;
    --dark:#000000;
    --dark-2: #101828;
    --white: #FFFFFF;
    --white-2: #EDEAE5;
    --success:#31D0AA;
    --success-2: rgba(49, 208, 170, 0.75);
    --success-3: rgba(49, 208, 170, 0.5);
    --success-4: rgba(49, 208, 170, 0.1);
    --text:#545454;
    --text-2: #393939;
    --text-3: #667085;
    --line: #EBEBEB;
    --line-2: #F2F4F7;
    --line-3: #C9C9C9;

    --surface: #F5F5F5;
    --surface-2: #F7F7F7;
    --shadow-1: 0px 4px 20px 0px #0000001A;

    --gradient-1: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);

    --backdrop: rgba(0, 0, 0, 0.4);

    // rgba color
    --rgba-dark: rgb(0, 0, 0, 0.6);

}

.primary-2{
    --primary: #39AE52; 
}